
.news_block_main{
	margin-top: 31px;
	width: 346px;
	display: flex;
    flex-direction: column;
}
.holder_image{
	width: 346px;
	height: 240px;
}
.holder_image:hover{
	transition:  all 0.1s ease;
	-webkit-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
}
.img_news{
	width: 346px;
	height: 240px;
    border: 1px outset #8F00FF;
}
.img_news:hover{
	transition:  all 0.1s ease;
	transform: scale(1.01);
    border: 1px dashed #8F00FF;
}
.script_type{
    font-size: 20px;
    width: 125px;
    color: #e4dad1;
    font-family: 'Inter', cursive;
    text-decoration: none;
    background: #8F00FF;
    position: absolute;
    height: 30px;
    margin-left: 80px;
    margin-top: 250px;
    padding-left: 10px;
    padding-top: 5px;
    transition: all 0.5s ease;
}
.button_date{
	font-size: 20px;
    width: 63px;
    color: #e4dad1;
    font-family: 'Inter', cursive;
    text-decoration: none;
    background: #8F00FF;
    position: absolute;
    height: 30px;
    margin-left: 0px;
    margin-top: 250px;
    padding-left: 10px;
    padding-top: 5px;
    transition: all 0.5s ease;
}
.button_date:hover{
	background: #0b8beb;
	transition:  all 0.1s ease;
}
.main_text_on_block{
	margin-top: 50px;
	font-family: "Bebas Neue",sans-serif;
	font-size: 32px;
	text-decoration: none;
	color: #e0d6ce;
}
.main_text_on_block:hover{
	color: #ffffff;
	transition:  all 0.1s ease;
}
.second_text_on_block{
	color: #BAB1A8;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}


.Update_block_news_main{
    background: #1b1b1b;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    padding-top: 0.1px;
    padding-bottom: 30px;
}

.background_block_news_main{
    display: grid;
    width: 1098px;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}