.header_block_news{
	width: 1080px;
 	height: 603px;
 	margin: 0px auto;
 	overflow: hidden;
}
.Update_block_news{
	background: #1b1b1b;
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 1080px;
	padding-top: 0.1px;
	padding-bottom: 30px;
}
.Update_block_background{
	z-index: -1;
	position: absolute;
	width: 100%;
	left: 0;
	height: 700px;
	background: #1b1b1b;

}
.GRustlogobutton_news{
	width: 48px;
	height: 48px;
	position:absolute;
	margin-top: 30px;
	margin-left: 20px;
}
.header_block_news_background{
	background: rgba(0,0,0,0.4);
    width: 100%;
    height: 603px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}
.Image_news{
	background: url(../assets/images/news/september_update/overview.jpg);
	position: absolute;
	width: 100%;
	height: 603px;
	z-index: -5;
	padding-top: 350px;
	align-items: center;
    background-size: cover;
    background-position: center;
}
.Grustlogo_news{
	width: 48px;
	height: 48px;
}
.GRustlogobutton_news:hover{
	transition:  all 0.1s ease;
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}
.Grustlogo_news:hover{
	transition:  all 0.1s ease;
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}
.header_text_news{
	position: absolute;
	margin-top:30px;
	z-index: 2; 
	margin-left: 630px;
}

.ul_header_text_news{
	list-style: none;
	display: flex;	
}
.li_header_text_news{
    margin-left:30px; 
}
.a_header_text_news{
	text-decoration: none;
	color: #e4dad1;
	font-family: 'Bebas Neue', cursive;
	font-size: 19px; 
}
.a_header_text_news:hover{
	transition:  all 0.3s ease;
	color: #ffff;
}
.a_header_text_news_lol{
	text-decoration: none;
	color: #e4dad1;
	font-family: 'Bebas Neue', cursive;
	font-size: 19px; 
	width: 100px;
	border-bottom: 2px solid #0695ff;
}
.a_header_text_news_lol:hover{
	transition:  all 0.3s ease;
	color: #ffff;
}
.a_text3_news{
	color: #b4aba2;
	text-decoration: none;
	font-family: 'Bebas Neue', cursive;
	font-size: 19px;
	border-bottom: 2px solid #0695ff;
}
.a_text3_news:hover{
	color: #dfd5cc;
	transition:  all 0.1s ease;
}
.a_header_text_Main_news{
	text-decoration: none;
	color: #e4dad1;
	font-family: 'Bebas Neue', cursive;
	font-size: 19px; 
	padding: 8px 10px 4px 10px;
	background: #0695ff;
}
.a_header_text_Main_news:hover{
	transition:  all 0.3s ease;
	color: #ffff;

}
.September_Update_news {
    position: absolute;
    color: #e4dad1;
    font-family: 'Bebas Neue', cursive;
    font-size: 96px;
    width: 1080px;
    margin-top: 230px;
    text-align: center;
}
.Underwater_news{
    position: absolute;
	color: #afb6b3;
	font-family: 'Open Sans', sans-serif;
	width: 600px;
	font-size: 16px;
	text-align: center;
	margin-left: 240px;
	margin-top: 350px;
}
.September_news_text{
	font-size: 16px;
	width: 110px;
	background:#0b0d0e;
	position: absolute;
	height: 25px;
	margin-left: 440px;
	margin-top: 425px;
	color: #bab1a8;
	padding-left: 5px;
	padding-top: 5px;
	font-family: 'Bebas Neue', cursive;
	justify-content: center;
	display: flex;
	padding-right: 5px;
}
.DEVBLOG_news{
	position: absolute;
	color: #e4dad1;
	font-family: 'Bebas Neue', cursive;
	text-decoration: none;
	background:#0695ff;
	width: 53px;
	font-size: 16px;
	height: 25px;
	margin-top: 425px;
	margin-left: 570px;
	padding-top: 5px;
	padding-left: 10px;
}
.DEVBLOG_news:hover{
	background:#0b8beb; 
	transition:  all 0.1s ease;
}
.text_update_block{
	background: #151313;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}
.Text_update_place{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: #a29b93;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	word-wrap:break-word;
}
.heading_news{
	font-family: 'Bebas Neue', cursive;
	position: absolute;
	margin-top: -65px;
	font-size: 48px;
	color: #0695ff;
}
.Text_update_place_mini_header{
	font-family: 'Bebas Neue', cursive;
	color: #a29b93;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: #a29b93;
	height: 20px;
	font-size: 24px;
	word-wrap:break-word;
}
.Image_on_news{
	width: 750px;
	display: block;
    margin-left: auto;
    padding-bottom: 20px;
    margin-right: auto;
}