.Image_news_main{
    background: url(../img/kirito.png);
    position: absolute;
    width: 100%;
    height: 603px;
    z-index: -5;
    padding-top: 350px;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.Main_text_news_main{
	position: absolute;
    color: #e4dad1;
    font-family: 'Bebas Neue', cursive;
    font-size: 96px;
    margin-left: 20px;
    margin-top: 230px;
}
.Main_news{
	position: absolute;
    color: #afb6b3;
    font-family: 'Open Sans', sans-serif;
    width: 600px;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 370px;
}
.Main_button{
	position: absolute;
    color: #e4dad1;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    background: #0695ff;
    width: 83px;
    font-size: 20px;
    height: 33px;
    margin-top: 430px;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 15px;
}
.Main_button:hover{
    background: #0b8beb;
    transition:  all 0.1s ease;
}
.background_block_news_main{
	display: grid;
	width: 1098px;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.news_block_main{
	margin-top: 31px;
	width: 346px;
	display: flex;
    flex-direction: column;
}
.holder_image{
	width: 346px;
	height: 240px;
}
.holder_image:hover{
	transition:  all 0.1s ease;
	-webkit-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
}
.img_news{
	width: 346px;
	height: 240px;
    border: 1px outset #8F00FF;
}
.img_news:hover{
	transition:  all 0.1s ease;
	transform: scale(1.01);
    border: 1px dashed #8F00FF;
}
.script_type{
    font-size: 20px;
    width: 125px;
    color: #e4dad1;
    font-family: 'Inter', cursive;
    text-decoration: none;
    background: #8F00FF;
    position: absolute;
    height: 30px;
    margin-left: 80px;
    margin-top: 250px;
    padding-left: 10px;
    padding-top: 5px;
    transition: all 0.5s ease;
}
.button_date{
	font-size: 20px;
    width: 63px;
    color: #e4dad1;
    font-family: 'Inter', cursive;
    text-decoration: none;
    background: #8F00FF;
    position: absolute;
    height: 30px;
    margin-left: 0px;
    margin-top: 250px;
    padding-left: 10px;
    padding-top: 5px;
    transition: all 0.5s ease;
}
.button_date:hover{
	background: #0b8beb;
	transition:  all 0.1s ease;
}
.main_text_on_block{
	margin-top: 50px;
	font-family: "Bebas Neue",sans-serif;
	font-size: 32px;
	text-decoration: none;
	color: #e0d6ce;
}
.main_text_on_block:hover{
	color: #ffffff;
	transition:  all 0.1s ease;
}
.second_text_on_block{
	color: #BAB1A8;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.button_date_Community{
	font-size: 20px;
    width: 80px;
    color: #e4dad1;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    background: #5D7239;
    position: absolute;
    height: 30px;
    margin-left: 100px;
    margin-top: 250px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'Bebas Neue', cursive;
    transition: all 0.5s ease;
}
.button_date_Community:hover{
	background: #536535;
	transition:  all 0.1s ease;
}
.button_date_General{
	font-size: 20px;
    width: 63px;
    color: #e4dad1;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    background: #333231;
    position: absolute;
    height: 30px;
    margin-left: 100px;
    margin-top: 250px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'Bebas Neue', cursive;
    transition: all 0.5s ease;
}
.button_date_General:hover{
	background: #484746;
	transition:  all 0.1s ease;
}
.Update_block_news_main{
	background: #1b1b1b;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    padding-top: 0.1px;
    padding-bottom: 30px;
}